### Python List Data Structure

In [1]:
# List ?

In [2]:
# Combination of different type of data
# Collection of data 
# Ordered Collection of Data 
# Mutable Data Structure 
# Hetrogenios Data Structure
# Dynamic Data Structure 
# Refernce Type Data Structure

In [3]:
# Python List vs Python Array

In [4]:
# 1. Creation

In [5]:
values = [3, 6, 7, 8, 1]

In [18]:
# dir(values)

In [15]:
# help(values)

In [13]:
# type(values)

list

In [6]:
# element 
# location
# position
# index 
# length

In [11]:
data = "1 2 3".split()

In [12]:
data

['1', '2', '3']

In [25]:
values1 = list(["xyz", "abc"])

In [26]:
values1

['xyz', 'abc']

In [21]:
values2 = []

In [22]:
values3 = list([])

In [27]:
# 1D

In [28]:
mat = [
    [1, 4, 6],
    [2, 6, 8]
]

In [30]:
tensor_mat = [
    [
        [1, 4, 6],
        [2, 6, 8]
    ],
    [
        [1, 4, 6],
        [2, 6, 8]
    ]
]

In [29]:
# Access

In [51]:
values = [3, 6, 7, 8, 10, 6, 2]

In [52]:
# Indexing 
#   FI ->  0 to N-1
#   RI -> -1 to -N
# Slicing

In [61]:
values[-3:]

[10, 6, 2]

In [49]:
values[::2]

[3, 7, 10]

In [50]:
values[1:3]  # start: stop [2]

[6, 7]

In [45]:
values[1:]   # start

[6, 7, 8, 10]

In [44]:
values[::-1]

[10, 8, 7, 6, 3]

In [43]:
values[-5]

3

In [41]:
values[len(values)-1]

10

In [67]:
mat = [
    [1, 4, 6],
    [2, 6, 8],
    "xyz"
]

In [71]:
mat[0][-1]

6

In [74]:
mat[1][-2:]

[6, 8]

In [75]:
len(mat[1])

3

In [76]:
mat

[[1, 4, 6], [2, 6, 8], 'xyz']

In [79]:
mat[-1].upper()

'XYZ'

In [83]:
# mat[1].append(10)

In [85]:
# mat

In [86]:
# Creation
# Access
# Insertion

In [88]:
# Insertion ->   / Add / Append / Extend / Insert

In [89]:
values = [3, 6, 7, 8, 10, 6, 2]

In [92]:
values.append([3, 7, 1])

In [93]:
values

[3, 6, 7, 8, 10, 6, 2, [3, 7, 1]]

In [94]:
values.insert?

Signature: values.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [95]:
values.insert(0, "Test")

In [96]:
values

['Test', 3, 6, 7, 8, 10, 6, 2, [3, 7, 1]]

In [97]:
values.insert(-1, (3, 6, 1))

In [98]:
values

['Test', 3, 6, 7, 8, 10, 6, 2, (3, 6, 1), [3, 7, 1]]

In [99]:
v1 = [3, 6, 1]

In [100]:
v2 = [3, 7, 8]

In [103]:
v1.extend(v2)  # v1 Extend

In [106]:
v1

[3, 6, 1, 3, 7, 8]

In [101]:
v3 = v1 + v2  # Extend

In [102]:
v3

[3, 6, 1, 3, 7, 8]

In [107]:
# Creation
# Access
# Insertion
# Updation

In [110]:
v1 = [3, 6, 7, "test", [2, 6, 4], True]

In [111]:
v1[1] = 10  # update

In [112]:
v1

[3, 10, 7, 'test', [2, 6, 4], True]

In [114]:
v1[-2][-1] = 40

In [115]:
v1

[3, 10, 7, 'test', [2, 6, 40], True]

In [117]:
v1[-1] = v1[-2] = None

In [118]:
v1

[3, 10, 7, 'test', None, None]

In [116]:
# v1[-1] = None; v1[-2] = None

In [119]:
a = b = c = 10

In [121]:
b

10

In [125]:
v1 = [3, 10, 7, 'test', [2, 6, 40], True]

In [126]:
v1[-2:] = None, None

In [127]:
v1

[3, 10, 7, 'test', None, None]

In [132]:
x = 3, 5

In [133]:
type(x)

tuple

In [134]:
# Creation
# Access
# Insertion
# Updation
# Deletion

In [135]:
# list.remove
# list.pop
# del

In [136]:
v1 = [3, 10, 7, 'test', [2, 6, 40], True]

In [139]:
v1.remove()

In [140]:
v1

[3, 7, 'test', [2, 6, 40], True]

In [141]:
v1 = [3, 10, 7, 'test', [2, 6, 40], True]

In [144]:
v1.pop(2)

7

In [146]:
v1

[3, 10, 'test', [2, 6, 40]]

In [150]:
v1 = [3, 10, 7, 'test', [2, 6, 40], True]

In [151]:
del v1[-2:]

In [152]:
v1

[3, 10, 7, 'test']

In [148]:
del v1[-1]

In [149]:
v1

[3, 10, 7, 'test', [2, 6, 40]]

In [154]:
# Creation
# Access
# Insertion
# Updation
# Deletion
# Sorting       # Selection, Buuble, Bubble, Merge, Quick, Shell, Bucket, radix, counting

In [ ]:
# list.sort()   # None
# sorted()      # Return sorted values

In [156]:
# list.sort()

In [160]:
v1 = [3, 6, 7, 8, 1, 2]

In [161]:
v1.sort(reverse=True)

In [162]:
v1

[8, 7, 6, 3, 2, 1]

In [189]:
users = ["khalil", "ahmad", "bilal", "rizwan", "ali", "xy"]

In [190]:
users.sort(reverse=False)

In [191]:
users

['ahmad', 'ali', 'bilal', 'khalil', 'rizwan', 'xy']

In [193]:
# Creation
# Access
# Insertion
# Updation
# Deletion
# Sorting 
# Searching

In [196]:
x = 12345

In [198]:
# string, list, tuple, lambda, loop, slicing ....

In [208]:
num = 123                 # -> 321      //, %

In [209]:
a = num // 100
num = num % 100
b = num // 10
num = num % 10

In [210]:
print(f"{num}{b}{a}")

321

In [231]:
# str.

In [228]:
lang = "Python Programmong Language"

In [229]:
new_lang = lang.replace(" ", "")

In [230]:
new_lang

'PythonProgrammongLanguage'

In [221]:
str.replace?

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [269]:
# Creation
# Access
# Insertion
# Updation
# Deletion
# Sorting 
# Searching     # Linear Search, Binary Search    
# ...
# ...

In [234]:
# in 
# not in
# list.index   --> integer

In [248]:
v1 = [3, 50, 7, 1, 2, 50]

In [261]:
v1.index(2, 1, 2)  # position

ValueError: 2 is not in list

In [238]:
result = 70 in v1    # contain  --> True / False

In [239]:
result

False

In [240]:
lang = "Python Programmong Language"

In [242]:
"mmi" in lang

False

In [252]:
lang = "Python Programmong Language"

In [257]:
lang.find("mm") == -1

False

In [267]:
lang = "Python Programmong Language"

In [268]:
lang.lower().index("p", 5)

7

In [270]:
# Tuple

In [271]:
t1 = (3, 5, 6, "True")

In [277]:
t1.index("True")

3

In [273]:
t1[1] = 20

TypeError: 'tuple' object does not support item assignment

In [272]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [279]:
t1 = (3, 5, 6, [2, 5, 1], "True")

In [280]:
t1[-2].append(30)

In [282]:
t1

(3, 5, 6, [2, 5, 1, 30], 'True')

In [283]:
# import array
# import numpy

In [306]:
s1 = {3, 6, 8, 3, 1, 6, 9, 2}  # unorderd unique

In [308]:
s1

{1, 2, 3, 6, 8, 9}

In [307]:
type(s1)

set

In [318]:
users = ["ali", "ahamd", "ali", 4, 8, 4]

In [319]:
unique_users = list(set(users))

In [320]:
unique_users

[8, 'ahamd', 'ali', 4]

### Python Dictionary

In [322]:
info = {
    "Id": 5,
    "Name": "Ahmad",
    "Programming": ["Julia", "Rust", "SQL"]
}

In [331]:
info

{'Id': 5,
 'Name': 'Ahmad Khan',
 'Programming': ['Julia', 'Rust', 'SQL'],
 'Data': 'Test'}

In [333]:
info

{'Id': 5, 'Name': 'Ahmad Khan', 'Programming': ['Julia', 'Rust', 'SQL']}

In [332]:
del info["Data"]

In [330]:
info["Data"] = "Test"  # Add new Key and Value

In [328]:
info["Name"] = "Ahmad Khan"   # Key = Value    ---> Update

In [329]:
info

{'Id': 5, 'Name': 'Ahmad Khan', 'Programming': ['Julia', 'Rust', 'SQL']}

In [334]:
# Questions

In [335]:
# list.reverse?

In [336]:
# str.isdigit

In [337]:
# set.union

In [ ]:
# dict.values