### Python Input & Output

In [1]:
print("Python")
print("Programming")

Python
Programming

In [4]:
# help(print)

In [6]:
import random

In [8]:
# random??

In [10]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [12]:
# Python Function or Method 
# 1. Input          Arguments
# 2. Output         Return Type

In [14]:
print("Python")
print()
print("Programming")

Python

Programming

In [15]:
# print(valu1, value2, value3, ...)    # object

In [16]:
# Positional Args   # 
# Default Args
# Keyword Args

In [17]:
length = len("Python")

In [18]:
length

6

In [20]:
# len()

In [21]:
# Input, No Output
# No Input, Output
# Input, Output
# No Input, No Output

In [22]:
x = 5
y = x

In [23]:
result = print("Python")

Python

In [25]:
type(result)

NoneType

In [26]:
length = len("Python")   # Integer Value

In [27]:
type(length)

int

In [28]:
length

6

In [ ]:
# Function --> Output

In [29]:
result = print("Python")

Python

In [33]:
print(result)

None

In [34]:
# Function Output ---- Return Type

In [45]:
x, *y, z = [3, 6, 5, 6, 9, 1]   # Unpacking

In [48]:
z

1

In [49]:
# Function Input ---- Arguments

# Positional Args  ---> 
# Default Args
# Keyword Args

In [53]:
print("Python")  # input -- > string argument

Python

In [57]:
print("Python", 4, True, [4, 7, 8], (4, 7))
print("Test")

Python 4 True [4, 7, 8] (4, 7)
Test

In [68]:
# print("Python", 4, True, [4, 7, 8], (4, 7), sep=' ')

In [74]:
print("Python", 4, True, [4, 7, 8], (4, 7), end="\n")
print("Test")

Python 4 True [4, 7, 8] (4, 7)
Test

In [78]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [76]:
len(5)

TypeError: object of type 'int' has no len()

In [79]:
name = "Ahmad"
age = 24

In [99]:
# F-string
print(f"Name: {name}, Age: {age}")

Name: Ahmad, Age: 24

In [95]:
# str.format?

In [96]:
# String Formatting
print("Name: {}, Age: {}".format(age,  name))

Name: 24, Age: Ahmad

In [89]:
# str(4) + "abc"

In [92]:
print("Name: " + name + " Age: " + str(age))

Name: Ahmad Age: 24

In [84]:
print("Name:", name, "Age:", age)

Name: Ahmad Age: 24

In [82]:
print(name, age)

Ahmad 24

In [100]:
# Python Built-in Function
# print()

In [107]:
[4, 6, 8] + [2]

[4, 6, 8, 2]

In [105]:
"xyz" + str(5)

'xyz5'

In [108]:
# Python Built-in Function
# print()

In [109]:
# input()

In [126]:
# str.split?

In [131]:
"1 2 3 4 5".split(" ")   # Return -- List

['1', '2', '3', '4', '5']

In [132]:
name, age = input("Enter name").split()   # ["Ahmad", "24"]

In [124]:
age

'24'

In [119]:
type(name)

str

In [134]:
first_name, last_name = input("Enter full name").split()

In [ ]:
# sami ullah 20

In [139]:
user = ["sami", "ullah"]

In [140]:
full_name = " ".join(user)

In [141]:
full_name

'sami ullah'

In [148]:
5 and 3 and 0 or 10

10

In [164]:
# decimal_value = int("0d7", base=2)

In [168]:
# 0b
# 0o
# 0x

In [169]:
print(0b111)  # bin to deciaml

7

In [172]:
print(0o74)   # 74 octal to decimal

60

In [173]:
print(0xFA)

250

In [174]:
# Email subject - "From example@outlook.com Mon 10:01 AM"

In [176]:
message = "From ali@outlook.com Mon 10:01 AM"   # Array  0 to N-1

In [185]:
# Forward Indexing: 0 to N-1    # 0  to 36
# Reverse Indexing: -1 to -N    # -1 to -37

In [186]:
print(message[-37])

F

In [182]:
len(message)

37

In [183]:
message[len(message)-1]

'M'

In [177]:
# Email
# 1. Username           ali
# 2. Domian             outlook.com
# 3. Dmain Extension    com

In [187]:
message = "From ali@outlook.com Mon 10:01 AM"

In [201]:
message.split("@")

['From ali', 'outlook.com Mon 10:01 AM']

In [199]:
message.split(" ")[1]

'ali@outlook.com'

In [194]:
message[::-1]

'MA 10:01 noM moc.kooltuo@ila morF'

In [193]:
message[1: 10: 0]  # start:stop (exclude): step (exclude)   1 to 9 [1, 3, 5]

ValueError: slice step cannot be zero

In [188]:
message[1:]   # start:stop

'rom ali@outlook.com Mon 10:01 AM'

In [189]:
message[1:5]   # start:stop (exclude)   1 to 4

'rom '

In [206]:
# Problem: Extract the domain from message
message = "From ali@outlook.com Mon 10:01 AM"

In [207]:
# Solution 01: 
# 1. Slicing [start: stop]
domain = message[9:20]  # using slicing 9 to 19

In [208]:
domain

'outlook.com'

In [219]:
# Problem: Extract the domain from message
message = "From ali-ahmad@gmail.pk Mon 10:01 AM"

In [252]:
m1 = message.split()[1].split("@")[1]

In [253]:
m1

'gmail.pk'

In [220]:
# Solution 2
# 1. String Split Method
# 2. Indexing
domain = message.split(" ")[1].split("@")[1]

In [221]:
domain

'gmail.pk'

In [254]:
# Solution 3

In [255]:
message

'From ali-ahmad@gmail.pk Mon 10:01 AM'

In [262]:
message.split(" ")[1].split("@")[1]

'gmail.pk'

In [263]:
message.split("@")[1].split(" ")[0]

'gmail.pk'

In [270]:
message

'From ali-ahmad@gmail.pk Mon 10:01 AM'

In [283]:
new_message = "Now From ali-ahmad@gmail.pk Mon 10:01 AM"

In [278]:
m1, email, *m2 = message.split()   # 6

In [280]:
username, domain = email.split("@")

In [282]:
domain

'gmail.pk'

In [284]:
# using find ...

### Python Built-in Data Structures

- String
- Array
- List
- Tuple
- Set, Frozenset
- Dictionay

In [285]:
# 1. Mutable 
# 2. Immutable

In [286]:
# Python Data Types
# int, float, bool, complex, string         -- Immutable
# tuple, set, dict key                      -- Immutable
# list, frozenset                           -- Mutable

# dict values                               -- Mutable or Immutable

In [ ]:
# Pass by value (copy)
# Pass by ref   (shared)

In [287]:
name = "Ahmad"  # string  --- immutable

In [292]:
new_name = name.upper()   # copy

In [295]:
name

'Ahmad'

In [296]:
values = [3, 6, 7, 1]   # Mutable

In [297]:
new_values = values   # pass by ref

In [298]:
values.append(5)

In [300]:
new_values

[3, 6, 7, 1, 5]

In [304]:
values = [3, 6, 7, 1]

new_values = values[:]

values.append(5)

print(values)
print(new_values)

[3, 6, 7, 1, 5]
[3, 6, 7, 1]

In [307]:
# - String          str()                '', "", ''' ''', """ """
# - Array           import array         array.array()
# - List            list()               []
# - Tuple                                ()
# - Set, Frozenset  set(), frozenset()   {,}
# - Dictionay       dict()               {key: value}

In [308]:
# Creation
# Insertion
# Updation
# Deletion
# Searching
# Sorting
# Tesing 
# ...

### Python List